---
import Layout from '../layouts/Layout.astro';

import { Hero } from "@/components/Hero";
import { FeaturedPlaces } from "@/components/featured-places";
import { NextEvents} from "@/components/next-events";
import { Categories } from "@/components/categories";
---

<Layout title="Frikout - Bienvenido">
	<main class="flex flex-col mx-auto">
		
		<Hero client:load />
		<FeaturedPlaces />
		<NextEvents />
		<Categories />
		
	</main>
</Layout>
