---
import { ViewTransitions } from 'astro:transitions';
import SpeedInsights from '@vercel/speed-insights/astro';
import { Header } from '../components/Header';
import { BackToTop } from '../components/back-to-top';
import { Footer } from '@/components/Footer';
import { CookiesConsent } from '@/components/cookies-consent';

export interface Props {
	title: string;
}

const { title } = Astro.props;
const currentPath = Astro.url.pathname;

// Import Tailwind CSS
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header client:load transition:persist currentPath={currentPath} />
		<slot />
		<BackToTop client:visible transition:persist />
		<CookiesConsent client:load transition:persist />
		<Footer client:visible transition:persist />
		<SpeedInsights />
		
	</body>
</html>	